<!-- window-controls.html -->
<div class="macos-controls">
  <button class="macos-close" title="关闭">
    <nz-icon nzType="close" nzTheme="outline" class="macos-icon" (click)="close()">
    </nz-icon>
  </button>
  <button class="macos-minimize" title="最小化">
    <nz-icon nzType="minus" nzTheme="outline" class="macos-icon" (click)="minimize()"/>
  </button>
  <button class="macos-maximize" title="最大化">
    <nz-icon nzType="border" nzTheme="outline" class="macos-icon" (click)="maximize()"/>
  </button>
</div>
